.satu{
    width: 580px;
    height: 675,5px;
    position: relative;
    margin-left: 290px;
    border-radius: 50px;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    text-align: center;
    color: white;
}

body{
    background-color:brown;
}